/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
# Linux
.*
!.gitignore
!.htaccess
*~
*.*~
#phpstorm
.idea/*
.idea*
.idea/sigueproyecto.iml
.idea/workspace.xml
/web
web/images/
